# Database Connections through Python

The DOF Property Modeling Team utilizes a range of databases and tools to store and analyze data.

This [diagram](resources/data_workflow.jpg) gives a high-level overview of how these different data resources and tools are used together.

## How can you access these data resources in Python?

There are currently two different database tools that are used: Microsoft SQL Server and Oracle databases. Even though we'll be using the same tools to connect to them, creating the connections with these two different systems requires slightly different syntax and credentials.

### Connecting to Microsoft SQL Server Databases (Production, Test, Sandbox)

We can establish a direct connection to Microsoft SQL Server using existing Python packages, which link to the database using our credentials, allowing us to query the Production, Test, and Sandbox databases.

To do this, you first need to import two python packages (`python-dotenv` and `pyodbc`) locally. Note: you only need to do this once and you can do this using pip or conda.

In [2]:
# in the command prompt

#python -m pip install python-dotenv
#python -m pip install pyodbc

SyntaxError: invalid syntax (3489418517.py, line 1)

Once these two packages are installed, you can establish a database connection using the credentials for the production, test, or sandbox databases. For future use, I'll save the credentials for all of these databases to my local `.Renviron` file saved in my HOME directory (detailed instructions on this file [here](proxy_R.md)). Add the following to your `.Renviron` file, replacing the XXXs with the correct credentials.

```
#replace the following with the real credentials
test_server="XXX.XXX.XX.XXX"
test_database='V8_XXXXXXXXXXXXXXXXXXX'
test_username="XXXXX"
test_password="XXXXX"

production_server="XXX.XXX.XX.XXX"
production_database='V8_XXXXXXXXXXXXXXXXXXX'
production_username="XXXXX"
production_password="XXXXX"

sandbox_server="XXX.XXX.XX.XXX"
sandbox_database='V8_XXXXXXXXXXXXXXXXXXX'
sandbox_username="XXXXX"
sandbox_password="XXXXX"
```

Now that you're credentials are saved locally, restart your kernel (at the top of the screen select the Restart button) and read in your environmental variables by using the dotenv functionality below.

Note: you should change the filepath to include your username.

In [2]:
from dotenv import load_dotenv, find_dotenv

load_dotenv(find_dotenv("C:/Users/BoydClaire/.Renviron"))

True

To check if we can read in our environmental variables successfully, you can try the following:

In [3]:
import os
os.getenv('test_database')

'V8_NEWYORK_NY_TEST_LIVE_NOV2024'

The result should be a string of the test_database name. If not, make sure you are using the right filepath above to read in your environmental variables.

Next, I'll use the pyobdc package to create a connection to the Microsoft SQL Server database as follows:

In [4]:
import pyodbc

# choose which database you want to connect to (assumes you have "{database}_server", "{database}_database", "{database}_username", and "{database}_password" as environmental variables in your .Renviron file)
database = "test"

# build connection string
connection_args = ["Driver={SQL Server};",
                    f"SERVER={os.environ[f'{database}_server']};",
                    f"DATABASE={os.environ[f'{database}_database']};",
                    f"UID={os.environ[f'{database}_username']};",
                    f"PWD={os.environ[f'{database}_password']};",
                    f"Trusted_Connection=no;",
                    "Port=1433"
]
connection_string = "".join(connection_args)

# create connection object
cnxn = pyodbc.connect(connection_string)

With the database connection in place, we can begin constructing our queries. Let's start with a basic one.

In [5]:
query = "SELECT TOP 100 * FROM REAL_PROP.REALMAST"

Now that we have saved the query as a string, we can use it to query the database and store the result as a dataframe in our local python environment. To do this, we can use the [`read_sql()`](https://pandas.pydata.org/docs/reference/api/pandas.read_sql.html) function from pandas, providing the database connection and the query string we wish to execute. If you dont already have pandas installed, install it by running the following in your powershell: `conda install pandas`.

In [6]:
import pandas as pd

# read in data with query and connection
realmast_top100 = pd.read_sql(sql=query, con=cnxn)

Let's take a look at what data we got back.

In [8]:
realmast_top100.head()

,REM_MNC,REM_PID,REM_PIN,REM_OWN_NAME,REM_ACCT_NUM,REM_PRCL_LOCN,REM_PRCL_LOCN_STR_PFX,REM_PRCL_LOCN_STREET,REM_PRCL_LOCN_STR_SFX,REM_PRCL_LOCN_NUM,...,REM_PRCL_LOCN_POST_DIRECTION,REM_PRCL_LOCN_PRE_DIRECTION,REM_PRCL_LOCN_STREET_TYPE,REM_PRCL_LOCN_APT_TYPE,REM_USRFLD,REM_USRFLD_DESC,REM_PRCL_LOCN_ADDRESS_ID,REM_BLOCK_SUFFIX,REM_PROPERTY_TYPE,REM_PROPERTY_TYPE_DESC
0,9000.0,1.0,,GOVERNORS ISLAND CORPORATION,1000010010,301 COMFORT COURT,,COMFORT COURT,,301.0,...,None,None,None,None,None,None,None,000,R,None
1,9000.0,2.0,,OWNER NAME,1000010101,1 LIBERTY ISLAND,,LIBERTY ISLAND,,1.0,...,None,None,None,None,None,None,None,000,R,None
2,9000.0,3.0,None,OWNER NAME,1000010201,1 ELLIS ISLAND,None,ELLIS ISLAND,None,1.0,...,None,None,None,None,None,None,None,000,R,None
3,9000.0,4.0,None,OWNER NAME,1000020001,4 SOUTH STREET,None,SOUTH STREET,None,4.0,...,None,None,None,None,None,None,None,000,R,None
4,9000.0,5.0,,OWNER NAME,1000020023,1 PIER 6,,PIER 6,,1.0,...,None,None,None,None,None,None,None,000,R,None

Great! Now let's try a slightly more complicated query using some environmental variables.

[F strings](https://www.geeksforgeeks.org/formatted-string-literals-f-strings-python/) are helpful to drop in variables within a string (like a fiscal year or BCAT) using curly brackets, making it a more legible query than using paste().

In [9]:
prior_FY=2025

incdata_query = \
    f"""
    Select ILA_Pid as Pid,
        ILA_AGI as AGI,
        ILA_AGI_PGSF as Inc_PGSF,
        ILA_Adj_Exp as AdjExp,
        ILA_Adj_Exp_PGSF as Exp_PGSF,
        ILA_Adj_EXP_PGI as ExpRatio,
        ILA_Adj_NOI as NOI,
        ILA_ADJ_NOI_PGSF as NOI_Pgsf,
        ILA_Tot_cap_rate as TotCap,
        ILA_Inc_Val as FY26_MV,
        ILA_Tot_Val as Tot_Val,
        ILF_BLDG_CAT as BCAT,
        ILF_Bldg_Sub_Cat as Subcat
    From 
        Real_Prop.INCOME_LF_APPROACH, 
        Real_Prop.Income_LF
    Where ILA_Type='R' And ILA_Year={prior_FY} 
        and ilf_year={prior_FY} and ilf_pid=ila_pid
    """

We can check if it included our variables correctly by printing it:

In [10]:
print(incdata_query)

    Select ILA_Pid as Pid,
        ILA_AGI as AGI,
        ILA_AGI_PGSF as Inc_PGSF,
        ILA_Adj_Exp as AdjExp,
        ILA_Adj_Exp_PGSF as Exp_PGSF,
        ILA_Adj_EXP_PGI as ExpRatio,
        ILA_Adj_NOI as NOI,
        ILA_ADJ_NOI_PGSF as NOI_Pgsf,
        ILA_Tot_cap_rate as TotCap,
        ILA_Inc_Val as FY26_MV,
        ILA_Tot_Val as Tot_Val,
        ILF_BLDG_CAT as BCAT,
        ILF_Bldg_Sub_Cat as Subcat
    From
        Real_Prop.INCOME_LF_APPROACH,
        Real_Prop.Income_LF
    Where ILA_Type='R' And ILA_Year=2025
        and ilf_year=2025 and ilf_pid=ila_pid

Great! Now let's query our test database for this income data.

In [11]:
income = pd.read_sql(sql=incdata_query, con=cnxn)

Let's take a look at the results:

In [13]:
income.head()

,Pid,AGI,Inc_PGSF,AdjExp,Exp_PGSF,ExpRatio,NOI,NOI_Pgsf,TotCap,FY26_MV,Tot_Val,BCAT,Subcat
0,8001.0,0.0,0.00,0.0,0.00,0.0000,0.0,0.00,14.903,0.0,0.0,SP10,1
1,8006.0,2888590.0,37.52,948492.0,12.32,32.8358,1940098.0,25.20,12.546,15463877.0,15464000.0,RU32,1
2,8016.0,285246.0,36.57,46800.0,6.00,16.4069,238446.0,30.57,16.023,1488148.0,1488000.0,K131,M
3,8216.0,0.0,0.00,0.0,0.00,0.0000,0.0,0.00,16.843,0.0,0.0,H001,CA
4,8326.0,61342531.0,53.14,28593423.0,24.77,46.6127,32749108.0,28.37,14.323,228646987.0,228647000.0,O007,1

Now we can analyze the data easily within Python using pandas or other libraries or and re-run the same import script to get updated data without needing to handle any CSVs.

Once you are done with reading in data from the database, close the connection by doing the following:

In [12]:
cnxn.close()

### Connecting to Oracle Databases (FDW, PTS)

This process to connecting to the Oracle dataabse is very similar to the above, but we have to pass in slightly different parameters. Just like when we make a connection to FDW in SAS, we need the database path, schema, username and password to access the database. Before moving forward, add the following to your `.Renviron` file like the following:

```
fdw_username=XXXXXXXXXX
fdw_password=XXXXXXXXXX
fdw_path=XXXXXXXX
fdw_schema=XXXXXXXXXX

pts_username=XXXXXXXXXXXX
pts_password=XXXXXXXXXXX
pts_path=XXXXXXXXXXXXX
pts_schema=XXXXXXXX
```

Restart your kernel and re-read in your new environmental variables.

In [13]:
load_dotenv(find_dotenv("C:/Users/BoydClaire/.Renviron"))

True

To check if we can re-read them in successfully, you can try the following:

In [14]:
os.getenv("fdw_schema")

'fdw3nf'

Using these credentials, we can use the same `pyodbc` package to create a connection to the Oracle database.

In [15]:
# build connection string
database = "fdw"
database_schema = os.getenv(f"{database}_schema")

connection_args = ["Driver={Oracle in OraClient19Home1};",
                    f"DBQ={os.environ[f'{database}_path']};"
                    f"DATABASE={os.environ[f'{database}_schema']};"
                    f"UID={os.environ[f'{database}_username']};",
                    f"PWD={os.environ[f'{database}_password']};",
                    f"Trusted_Connection=no;",
                    "Port=1433"
]
connection_string = "".join(connection_args)

# create connection object
cnxn = pyodbc.connect(connection_string)

To explore what tables are in the database, we can do the following:

In [16]:
cursor = cnxn.cursor()
tables_raw = cursor.tables(schema='FDW3NF')
tables = pd.DataFrame(tables_raw)
tables.columns = ['list']
cleaned_tables = pd.DataFrame(tables['list'].apply(list).to_list(), columns = ['CATALOG','SCHEMA','NAME','TYPE','SELF_REFERENCING_COL_NAME'])

In [17]:
cleaned_tables.head()

  CATALOG  SCHEMA                NAME   TYPE SELF_REFERENCING_COL_NAME
0    None  FDW3NF  CAMA_SALEHIST_HIST  TABLE                      None
1    None  FDW3NF   VW_CAMA_ABATEMENT   VIEW                      None
2    None  FDW3NF      VW_CAMA_AHDATE   VIEW                      None
3    None  FDW3NF        VW_CAMA_BLDG   VIEW                      None
4    None  FDW3NF   VW_CAMA_BLDG_HIST   VIEW                      None

This has been helpful for me when trying to map tables in the SQL Server databases back to a table in FDW (e.g. REAL_MAST vs. VW_CAMA_REALMAST).

Next, we can repeat the above steps with this database connection. Note: the syntax is a bit different now because we are using Oracle SQL syntax which is slightly different than Microsoft SQL syntax. We also need to use the database schema when naming the tables in order to pull from the right place.

In [21]:
fdw_query = f"SELECT * FROM {database_schema}.VW_CAMA_REALMAST WHERE ROWNUM <= 100"

# read in data with query and connection
data = pd.read_sql(sql=fdw_query, con=cnxn)

Let's check the results:

In [22]:
data.head()

,REM_MNC,REM_PID,REM_PIN,REM_OWN_NAME,REM_ACCT_NUM,REM_PRCL_LOCN,REM_PRCL_LOCN_STR_PFX,REM_PRCL_LOCN_STREET,REM_PRCL_LOCN_STR_SFX,REM_PRCL_LOCN_NUM,...,REM_TAX_ID,REM_USER_ID,REM_USRFLD,REM_USRFLD_DESC,REM_ACCESS_DATE,REM_CREATE_STAMP,REM_CREATE_DATE,REM_LAST_UPDATE,REM_PROPERTY_TYPE,REM_PROPERTY_TYPE_DESC
0,9000.0,1188590.0,2589,"ZHAO, JIATENG",1002481636,250 SOUTH STREET #61J,None,SOUTH STREET,None,250.0,...,None,None,None,None,None,None,2022-06-16 00:59:59,2025-01-04 00:19:14,R,None
1,9000.0,1188690.0,2589,"LUM, SIMON",1002481736,250 SOUTH STREET #70K,None,SOUTH STREET,None,250.0,...,None,None,None,None,None,None,2022-06-16 00:59:59,2025-01-04 00:19:33,R,None
2,9000.0,1188790.0,0243,"HOUNKPATIN, HOSPICE",2023401016,225 EAST 138 STREET #201,None,EAST 138 STREET,None,225.0,...,None,None,None,None,None,None,2022-06-16 00:59:59,2025-01-04 00:19:50,R,None
3,9000.0,1188939.0,2864,"CHANG, SHARON",1021111127,446 WEST 167 STREET #2A,None,WEST 167 STREET,None,446.0,...,None,None,None,None,None,None,2022-06-16 00:59:59,2025-01-04 00:20:05,R,None
4,9000.0,1189039.0,4441,"ZHANG, ZI KUO",3063771111,8616 21 AVENUE #P1,None,21 AVENUE,None,8616.0,...,None,None,None,None,None,None,2022-06-16 00:59:59,2025-01-04 00:20:22,R,None

Great! This looks very similar to our call to the test database. Now we can pretty much interchangeably get data into R from either database resource and analyze it as needed all in once place.

Now that we are done, let's close the database connection.

In [23]:
cnxn.close()